.id {
    display: block;
  }
  
  input[type='submit'],
  .id {
    margin-top: 1rem;
  }
.vid{
  color: #ef3240;
}

 * {
  text-align: center;
}

.bouton{
  
  background-color: #000000;
  border-radius: 10px;
  border: 2px double #000000;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  cursor: pointer;

}

a {
  outline: none;
  text-decoration: none;
  color: white;
  
}
.encadrer-un-contenu{ border: 1px solid black; padding: 5px; } 